header {
    display: block;
    align-self: center;
    box-sizing: border-box;
    background-color: blue;
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    border-radius: 5px;
}

.hero-section {
    width: 100%;
    background: url(images/your_verse_hero.jpg) 50% 100% no-repeat;
    margin-top: 0;
    padding-top: 90px;
}

h1,
h2,
h3 {
    width: 100%;
    height: 100px;
    margin: 10px 0 10px 0;
}

h1 {
    background-color: crimson;
}

h2 {
    background-color: green;
}

h3 {
    background-color: mediumslateblue;
}

.img-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
}

.promo-img {
    width: 100%;
}

footer {
    background-color: whitesmoke;
    margin-top: 40px;
    width: 80%;
    height: 80px;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.p-left {
    display: block;
    float: left;
    width: 50%;
}

.p-right {
    display: block;
    width: 50%;
    float: right;
}

.p-left:after,
.p-right:after {
    clear: both;
}

.foot-bottom {
    width: 100%;
    margin-bottom: 0px;
}