html,
body {
    margin: 0 0;
}

.header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgb(37, 36, 36);
    background: linear-gradient(rgb(146, 144, 144), rgb(68, 68, 68), rgb(146, 144, 144));
    width: 80%;
    height: 36px;
    margin: 0 10% 25px 10%;
    padding-right: 10px;
    position: relative;
    border-radius: 5px;
}

.common {
    display: inline-flex;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin: auto auto;
}

.header-items {
    align-items: center;
    align-content: center;
    text-align: center;
}

.header p {
    width: 100%;
    height: 36px;
    border-color: black;
}

.header p:hover {
    background-color: rgb(37, 36, 36);
    border-radius: 5px;
}

.header form {
    border-radius: 50%;
    padding: auto 20px;
}

.header form:hover,
.header form:active {
    width: 200px;
}

.searchbutton {
    position: absolute;
    vertical-align: middle;
    color: inherit;
    background: transparent;
    border: thin;
    border-radius: 10px;
}

.searchinput {
    width: 100%;
    border-radius: 10px;
}

.src {
    display: inline-block;
    background: rgb(146, 144, 144);
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;
    margin: 0 0;
}

.common:active,
.common:hover,
.searchinput:active,
.searchinput:hover {
    cursor: normal;
    background: whitesmoke;
    color: black;
}

.hero-section {
    box-sizing: border-box;
    right: auto;
    left: 50;
    width: 100%;
    background: url(images/your_verse_hero.jpg) 50% 100% no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto 5px auto;
}

.msg {
    width: 60%;
    display: block;
    align-self: center;
    position: relative;
    margin: 40px auto;
}

.msg a {
    display: block;
    align-self: center;
    color: white;
    text-align: center;
    text-decoration: none;
}

.txt-box {
    font-family: 'Heebo', sans-serif;
    font-size: 44pt;
    font-style: 'Thin';
    font-weight: lighter;
}

.txt-box2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 24pt;
    font-style: normal;
    line-height: 40px;
}

.txt-box3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 20pt;
    font-style: normal;
    margin-top: 20px;
}

.txt-box3:hover {
    text-decoration: underline;
}

.img-div {
    display: grid;
    right: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    margin: 0 auto;
}

.promo-img {
    width: 100%;
}

footer {
    display: blocK;
    box-sizing: border-box;
    background-color: whitesmoke;
    right: auto;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: o 0;
}

.foot-p {
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7pt;
    text-align: left;
}

.p-left {
    padding: 20px 0 10px 10%;
}

.p-right {
    padding: 20px auto 10px 50px;
}

.p-left:after,
.p-right:after {
    clear: both;
}

.p-left a,
.p-right a,
.foot-bottom a {
    text-decoration: none;
    color: #08c;
    padding: 0 10px;
}

.p-left a:hover,
.p-right a:hover,
.foot-bottom a:hover {
    text-decoration: underline;
}

.p-left:after,
.p-right:after {
    clear: both;
}

.foot-bottom {
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 0 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7pt;
}

.foot-bottom:before,
.foot-bottom:after {
    clear: both;
}

.ctr-flag {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}