.header {
    display: grid;
    background: rgb(37, 36, 36);
    background: linear-gradient(rgb(146, 144, 144), rgb(68, 68, 68), rgb(146, 144, 144));
    width: 80%;
    height: 36px;
    margin: 0 10% 25px 10%;
    position: relative;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.header-items {
    display: inline-flex;
    text-decoration: none;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    margin: auto auto;
}

.header p {
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none;
    width: 100%;
    height: 36px;
    color: white;
    border-color: black;
    margin: auto auto;
}

.header p:hover {
    background-color: rgb(37, 36, 36);
}

.header form {
    border-radius: 50%;
}

.header form:active {
    widows: 150px;
}

.searchinput {
    display: inline-block;
    background: rgb(146, 144, 144);
    border-style: none;
    border-radius: 5px;
    width: 70%;
    margin: 0 0;
}

.searchinput:active {
    background: whitesmoke;
    border-style: none;
    border-radius: 5px;
    width: 70%;
    margin: 0 0;
}

.searchbutton {
    display: inline-blocK;
    background: rgb(146, 144, 144);
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;
    width: 20%;
    margin: 0;
}

.hero-section {
    width: 100%;
    background: url(images/your_verse_hero.jpg) 50% 100% no-repeat;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}

.msg {
    width: 100%;
    display: block;
    align-self: center;
    position: relative;
    margin: auto 0 40px 0;
}

.img-box {
    display: flex;
    object-fit: cover;
    object-position: 100% 15px;
    width: 80%;
    margin: 15px auto;
}

.img-box2 {
    display: flex;
    object-fit: cover;
    object-position: 0 30px;
    width: 80%;
    height: fit-content;
    margin: 10px auto;
}

.img-box2:hover {
    display: flex;
    object-fit: cover;
    object-position: 0 -30px;
    width: 80%;
    height: fit-content;
    margin: 10px auto;
}

.img-box3 {
    display: flex;
    width: 80%;
    margin: 10px auto;
}

.img-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
}

.promo-img {
    width: 100%;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: o 0;
}

.p-left {
    display: flex;
    float: left;
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7pt;
    margin: 20px auto 10px 10%;
}

.p-right {
    display: flex;
    width: 50%;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7pt;
    margin: 20px auto 10px auto;
}

.p-left a,
.p-right a,
.foot-bottom a {
    text-decoration: none;
    color: #08c;
    padding: 0 10px;
}

.p-left a:hover,
.p-right a:hover,
.foot-bottom a:hover {
    text-decoration: underline;
}

.p-left:after,
.p-right:after {
    clear: both;
}

.foot-bottom {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7pt;
}